<h3>API NodeJS para estudo</h3>
<p>Para quem está começando em NodeJS e outros, aqui está disponível uma api simples de produtos para pesquisa</p>

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ROTA 1 - Tabela de produtos</h5>
        <p class="card-text">Rota com lista completa de produtos em JSON (GET)</p>
        <a href="/produtos" class="btn btn-primary" target="_blank">Clique aqui</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">ROTA 2 - Filtro na tabela por id</h5>
        <p class="card-text">Rota para produto por ID (GET): /produtos/:id</p>
        <a href="/produtos/:id" class="btn btn-warning" target="_blank">Clique aqui</a>
      </div>
    </div>
  </div>
</div>

<hr>


